$color-brown-dark: #291d18;
$color-brown-light: #3b2c25;
$color-brown: #32251f;

$color-gray: #eeebe9;
$color-gray-light: #f7f5f4;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$default-font-size: 1.6rem;
