.btn {
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 11px;
    line-height: 20px;
    color: #30241f;
    font-family: "Arial";
    &--gray {
        border: 1px solid #645a56;
        background-color: #cdc4be;
    }
}
